
<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  
</head>

<body>
    <a href="{{ url_for('login') }}"><i class="fa-solid fa-circle-user logo"></i>login</a>
 <div class="login">
	<h1>Credit Risk Analysis</h1>
    <div class="form-container">
     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
        <label for="lname">Person's Age:</label><br>
    	<input type="text" name="Person's Age" placeholder="Age" required="required" /><br>
        <label for="lname">Person's Income:</label><br>
        <input type="text" name="Person's Income" placeholder="in rupees" required="required" /><br>
        <label for="lname">Home Owernership:</label><br>
		<input type="text" name="Home Owernership" placeholder="Home Owernership" required="required" /><br>
        <label for="lname">Person's employment length:</label><br>
        <input type="text" name="Person's employment length" placeholder="---" required="required" /><br>
        <label for="lname">Person's loan Intent:</label><br>
        <input type="text" name="Person's loan Intent" placeholder="loan_intent" required="required" /><br>
        <!-- <label for="lname">Person's loan grade:</label><br>
		 <input type="text" name="Person's loan grade" placeholder="A:1,B:2,C:3,D:4,E:5" required="required" /><br>  -->
        <label for="lname">Person's loan amount:</label><br>
        <input type="text" name="Person's loan amount" placeholder="Amount" required="required" /><br>
        <label for="lname">Person's Loan Interest:</label><br>
        <input type="text" name="Person's Loan Interest" placeholder="in percentage" required="required" /><br>
        <!-- <label for="lname">Status:</label><br>
		<input type="text" name="Status" placeholder="status" required="required" /><br> -->
        <label for="lname">Loan Percent Income:</label><br>
        <input type="text" name="Percent Income" placeholder="---" required="required" /><br>
        <label for="lname">Credit History Length:</label><br>
        <input type="text" name="Credit History Length" placeholder="--" required="required" /><br>
	

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </div>
    </form>

   <br>
   <br>
   <div class="prediction-text">{{ prediction_text }}</div>

 </div>


</body>
</html>